<div class="container">
    <div class="title">
        <span>My Portfolio</span>

        <div class="education">
            <span><a routerLink="/">Work experience</a></span>
            <span><a routerLink="/">Project</a></span>
            <span><a routerLink="/">Skills</a></span>
            <span><a routerLink="/">Achievements</a></span>
            <span><a routerLink="/edu">Education</a></span>
            <span><a routerLink="/contact">Contact</a></span>
            <span><a routerLink="/about">About us</a></span>
        </div>
    </div>

    <div class="row">
        <div class="profile col">
            <div class="profile-bg">
                <img src="../../assets/img/IMG_20230512_152132.jpg" alt="">
            </div>
        </div>

        <div class="name col">
            <span>
                <span>Hello! </span>&nbsp; I am
            </span><br>
            <span class="typed">Umang Kumar</span><br>
            <span>Software Developer Intern</span>


        </div>
    </div>

    <div class="btn-group">
        <a class="btn" href="#">
            <span>See My Resume</span>
        </a>
    </div>
    <div class="icon">
        <span><a ><i class="fa-solid fa-phone phone"> </i></a></span>
        <span><a href="https://krumang16122000@gmail.com"><i class="fa-solid fa-envelope mail"></i></a></span>
        <span><a href="https://www.linkedin.com/in/umang-kumar-5336a8227/"><i class="fa-brands fa-linkedin"></i></a></span>
        <span><a href="https://github.com/Umangkumar1234" ><i class="fa-brands fa-github git"></i></a></span>
        
    </div>


</div>