<div class="container">
    <div class="row">
      <div class="col">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi doloremque fugiat incidunt labore error ullam quod fuga vel ex odio ipsum, nulla blanditiis, similique natus, facere vero quam est minima!Loreml Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati dolores illo perspiciatis architecto nesciunt commodi ex accusamus error? Aut nulla suscipit tempore dicta sit minima commodi a architecto eius sint!</span>
      </div>
      <div class="col">
        
      </div>
    </div>