<div class="container">
    <div class="about">
        <span>About me</span>
    </div>
    <div class="details">
        <span>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias, magni similique illo deleniti corrupti modi inventore dolores illum doloribus ratione? Aspernatur tempora iure ipsa sit accusamus molestiae aperiam voluptatem pariatur!</span>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium voluptates exercitationem provident deserunt incidunt reiciendis. Aliquam consectetur odio, repudiandae numquam iusto magnam animi ad! Aliquid dolorem distinctio nemo maxime inventore.
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Necessitatibus voluptate, ducimus quaerat laboriosam ab dolorum. Aliquam pariatur itaque, odio neque ex blanditiis provident laborum saepe, incidunt ad sunt soluta rerum?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ut exercitationem suscipit laboriosam hic ipsam deserunt, similique temporibus aliquid! Doloremque et eos molestias numquam eum temporibus voluptatem sequi vitae expedita! Nemo.
        umangkumar
    </div>
</div>
