<div class="container col-md-4 mx-4 my-4" >
    
    <div class="container-fluid">
        <div class="row">
            <form [formGroup]="signupForm" >
                <div class="bg-primary" style="text-align: center;">
                    <h2 style="color:rgb(9, 12, 10) te">Registration Form</h2>
                </div>
                <div class="mb-3">
                  <label for="exampleInputEmail1" class="form-label">Enter Firstname</label>
                  <input type="text" class="form-control" [class.is-invalid]="f['fname'].invalid && f['fname'].touched" id="exampleInputEmail1" aria-describedby="emailHelp" formControlName="fname">
                
                </div>

                <div *ngIf="f['fname'].invalid && f['fname'].touched"> 
                  <small    *ngIf="f['fname'].errors && f['fname'].errors['required']"     class="text-danger">Please enter first name</small>
                  <small    *ngIf="f['fname'].errors && f['fname'].errors['minlength']"     class="text-danger">Please enter atleast 3 charaters</small>
                </div>

                <div class="mb-3">
                  <label for="exampleInputPassword1" class="form-label">Enter Lastname</label>
                  <input type="text" class="form-control" id="exampleInputPassword1"[class.is-invalid]="f['lname'].invalid && f['lname'].touched" formControlName="lname">
                </div>

                <div *ngIf="f['lname'].invalid && f['lname'].touched"> 
                  <small    *ngIf="f['lname'].errors && f['lname'].errors['required']"     class="text-danger">Please enter last name</small>
                  <small    *ngIf="f['lname'].errors && f['lname'].errors['minlength']"     class="text-danger">Please enter atleast 3 charaters</small>
                </div>
        
                <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label">Enter Email</label>
                    <input type="email" class="form-control" id="exampleInputPassword1" [class.is-invalid]="f['email'].invalid && f['email'].touched"formControlName="email">
                  </div>
                  
                  <div *ngIf="f['email'].invalid && f['email'].touched"> 
                    <small    *ngIf="f['email'].errors && f['email'].errors['required']"     class="text-danger">Please enter email</small>
                    <small    *ngIf="f['email'].errors && f['email'].errors['pattern']"     class="text-danger">Please enter valid email</small>
                  </div>
     
                  <div class="mb-3">
                    <label for="exampleInputPassword1" class="form-label" >Enter password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" [class.is-invalid]="f['pass'].invalid && f['pass'].touched" formControlName="pass">
                  </div>

                  <div *ngIf="f['pass'].invalid && f['pass'].touched"> 
                   <small    *ngIf="f['pass'].errors && f['pass'].errors['required']"     class="text-danger">Minimum eight characters, at least one letter and one number:</small> 
                
                  </div>
                    <div  class="bg-primary text-center">
                        <button type="submit"  (click)="signupDetails()" [disabled]="signupForm.invalid" class="btn btn-primary">SignUp</button>
                    </div>
               
              </form>
              <a class="text-center my-2 " routerLink="/login"  style="color: black ">Already have account? click to login</a>
        </div>
    </div>
</div>